<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color: #fafafa">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

    <!-- Mars News -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading">{{mars_data.news_title}}</h3>
        <h4>{{mars_data.news_p}}</h4>
      </div>
    </div>
  </div>

   <!-- Mars Facts and Featured Image -->
   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class='text-center'>Mars Facts</h4>
        <p>{{mars_data.mars_table_html | safe}}</p>
      </div>
      <div class="col-md-6">
        <h4 class='text-center'>Featured Mars Image</h4>
        <img src="{{mars_data.featured_image_url}}" alt="featured_mars_img" style="max-width: 100%; height: 400px;">
      </div>
    </div>
  </div>

      <!-- Mars Hemispheres -->
      <div class="container">
        <div class="row">
        <h3 class="heading">Mars Hemisphere</h3>
        {% for dictionary in mars_data.hem_list %}
          <div class="col-md-3">
            <h4>{{dictionary.mars_title}}</h4>
            <img src="{{dictionary.img_url}}" alt="featured_mars_hemisphere" style="max-width: 100%; height: 400px;>
          </div>
          {% endfor %}
        </div>
      </div>

</body>

</html>
