<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About Mars</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color: #fafafa">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

    <!-- Mars News -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{mars_data.news_title}}</h4>
        <h5>{{mars_data.news_p}}</h5>
      </div>
    </div>
  </div>
  </br>
   <!-- Mars Facts and Featured Image -->
   <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8 border">
          <h2 class='text-left'>Featured Mars Image</h2>
          </br>
          <img src="{{mars_data.featured_image_url}}" alt="featured_mars_img" style="max-width: 100%; height: 400px;">
        </div>
      </br>
        <div class="col-md-4">
          </br>
            <div class="card">
              <h3 class='text-left'>Mars Facts</h3>
              <p>{{mars_data.mars_table_html | safe}}</p>
            </div>
      </div>
    </div>
   <hr>

      <!-- Mars Hemispheres -->
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="text-center">Mars Hemisphere</h2>
          </div>
        </div>
        </br>
        <div class="row">
          {% for dictionary in mars_data.hem_list %}
            <div class="col-md-6 border">
            </br>
              <div>
                <img src="{{dictionary.img_url}}" alt="featured_mars_hemisphere" style="max-width: 100%; height: 400px">
              </div>
              <div>
                <h4>{{dictionary.title}}</h4>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

  <hr>
  <footer class="footer">
    <span class="bottom">All About Mars</span>
    <div class="footer">&copy; Copyright Anne Ramer 2021</div>
  </footer>

</body>

</html>
